/* CSS Reset */

html,
body,
div,
form,
fieldset,
legend,
label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
    
}

img {
    border: 0;
}

/* Site Variables */

:root{
    --spectrum-orange: #E87725;
    --spectrum-dark: rgb(26, 26, 26);
}

/* Site CSS Starts */

body, html {
    height: 100%;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (min-width: 375px) and (max-width: 595px) {    

    #header_logo{
        width: 60%;
        margin-left: 30%;
    }

    #header{
        background-color: transparent;
    }

    .navbar-toggler{
        margin-top: -12%;
    }
    
    #hero_img{
        display: block;
        width: 100vw;
        height: 40vh;
        background-size: cover;
        background-position: center;
    }
    
    #hero_img_container{
        position: relative;
        text-align: center;
    }
    
    #hero_img_text{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
        display: block;
        font-size: 22px;    
        white-space: nowrap;
        color: rgb(54, 54, 54);
    }
    
    #hero_img_text-big{
        margin: 15% 0 5% 0;
    }
    
    #hero_img_text_small_container>li{
        font-size: 16px;
        margin: -5% 0;    
        font-weight: 1;
        color: rgb(219, 217, 217);
        list-style-type: none;
    }
    
    #chevron_down{
        padding-top: 55%;
        width: 6%;
        fill: rgb(27, 27, 27);
    }

    #product_container{
        position: relative;
        text-align: center;
        width: 100vw;
        height: auto;
        background-color: var(--spectrum-dark);
    }

    #product_container .card .card-img-overlay{
        height: 200px;
    }

    #product_container .card img{
        height: 200px;
    }

    #product_container .card-img-overlay{
        padding-top: 15%;
    }

    #product_container .card-title{
        color: var(--spectrum-orange);
    }

    #products_header{
        font-size: 24px;
        color: white;
    }
    
    .navbar>.container-fluid{
        height: 50px;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 1px solid darkgray;
    }
    
    a.nav-link.active{
        color: var(--spectrum-orange) !important;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px)  and (max-width: 768px) {
    #product_container-mobile{
        display: none;
    }

    #header_logo{
        padding:0 10%;
        max-width: 80%;
    }
    
    #hero_img{
        display: block;
        width: 100vw;
        height: calc(100vh - 66px);
        background-size:cover;
        background-position: center;
    }
    
    #hero_img_container{
        position: relative;
        text-align: center;
    }
    
    #hero_img_text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
        display: block;
        font-size: 5vw;    
        white-space: nowrap;
        color: rgb(54, 54, 54);
    }
    
    #hero_img_text-big{
        margin: 15% 0 5% 0;
    }
    
    #hero_img_text_small_container>li{
        font-size: 2.2vw;
        margin: -7% 0;    
        font-weight: 1;
        color: rgb(219, 217, 217);
        list-style-type: none;
    }
    
    #chevron_down{
        padding-top: 20%;
        width: 4%;
        fill: rgb(27, 27, 27);
    }

    #product_container{
        position: relative;
        text-align: center;
        width: 100vw;
        height: auto;
        background-color: var(--spectrum-dark);
    }

    #product_container .card .card-img-overlay{
        height: 200px;
    }

    #product_container .card img{
        height: 200px;
    }

    #product_container .card-img-overlay{
        padding-top: 15%;
    }

    #product_container .card-title{
        color: var(--spectrum-orange);
    }

    #products_header{
        padding-top: 5%;
        font-size: 24px;
        color: white;
    }
    
    .navbar>.container-fluid{
        height: 70px;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 1px solid darkgray;
    }
    
    a.nav-link.active{
        color: var(--spectrum-orange) !important;
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #product_container-mobile{
        display: none;
    }

    #header_logo{
        padding:0 20%;
        max-width: 80%;
    }
    
    #hero_img{
        display: block;
        width: 100vw;
        height: calc(100vh - 66px);
        background-size:cover;
        background-position: center;
    }
    
    #hero_img_container{
        position: relative;
        text-align: center;
    }
    
    #hero_img_text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
        display: block;
        font-size: 5vw;    
        white-space: nowrap;
        color: rgb(54, 54, 54);
    }
    
    #hero_img_text-big{
        margin: 15% 0 5% 0;
    }
    
    #hero_img_text_small_container>li{
        font-size: 2.2vw;
        margin: -7% 0;    
        font-weight: 1;
        color: rgb(219, 217, 217);
        list-style-type: none;
    }
    
    #chevron_down{
        padding-top: 20%;
        width: 4%;
        fill: rgb(27, 27, 27);
    }
    
    .navbar>.container-fluid{
        height: 70px;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 1px solid darkgray;
    }
    
    a.nav-link.active{
        color: var(--spectrum-orange) !important;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    #product_container-mobile{
        display: none;
    }

    #header_logo{
        padding:0 10%;
        max-width: 80%;
    }
    
    #hero_img{
        display: block;
        width: 100vw;
        height: calc(100vh - 86px);
        background-size:cover;
        background-position: center;
    }
    
    #hero_img_container{
        position: relative;
        text-align: center;
    }
    
    #hero_img_text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
        display: block;
        font-size: 5vw;    
        white-space: nowrap;
        color: rgb(54, 54, 54);
    }
    
    #hero_img_text-big{
        margin: 15% 0 5% 0;
    }
    
    #hero_img_text_small_container>li{
        font-size: 2.2vw;
        margin: -7% 0;    
        font-weight: 1;
        color: rgb(219, 217, 217);
        list-style-type: none;
    }
    
    #chevron_down{
        padding-top: 20%;
        width: 4%;
        fill: rgb(27, 27, 27);
    }
    
    .navbar>.container-fluid{
        height: 70px;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 1px solid darkgray;
    }
    
    a.nav-link.active{
        color: var(--spectrum-orange) !important;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {  
    #header_container{
        position: fixed;
        z-index: 99;
        width: 100vw;
    }
    
    #header_logo{
        padding:0 35px;
        max-width: 80%;
    }
    

    #search-btn{
        padding-right: 5%;
    }

    #hero_img{
        background-image: url("/src/wwwroot/content/SP_Hero_IMG.jpg");
        /* Set a specific height */
        min-height: 100vh;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #hero_img_container{
        position: relative;
        text-align: center;
    }
    
    #hero_img_text{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
        display: block;
        font-size: 9vh;    
        white-space: nowrap;
        color: var(--spectrum-dark);
    }
    
    #hero_img_text-big{
        margin: 5% 0 4% 0;
        -webkit-text-stroke: 1px ;
        
    }
    
    #hero_img_text_small_container>li{
        font-size: 40px;
        margin: -7% 0;    
        font-weight: 1;
        color: black;
        list-style-type: none;
    }
    
    #chevron_down{
        padding-top: 20%;
        width: 4%;
        fill: rgb(27, 27, 27);
    }

    #product_container{
        position: relative;
        text-align: center;
        width: 100vw;
        height: 80vh;
        background-color: #FBF7F4;
    }

    #product_container .card .card-img-overlay{
        height: 300px;
    }

    #product_container .card img{
        height: 300px;
    }

    #product_container .card-img-overlay{
        padding-top: 10%;
    }

    #product_container .card-title{
        color: var(--spectrum-orange);
    }

    #products_header{
        padding-top: 3%;
        font-size: 36px;
        color: black;
    }

    #who_we_are_container{
        min-height: 100%;
    }

    #text_container{
        margin-left: 5%;
        padding-top: 8%;
        width: 40%;
    }

    #who_we_are_header{
        margin-left: 13%;
        color: black;
        font-size: 6vh;
        margin-bottom: 10%;
        height: 20%;
        width: 80%;
        background-color: white;
        opacity: 65%;
        font-weight: bolder;
    }

    #who_we_are_text{
        color: white;
        font-size: 2.25vh;
        margin-left: 2%;
        margin-bottom: 8%;
    }

    #learn_more_button{
        background-color: black;
        opacity: 65%;
        width: 20%;
        padding: 2%;
        color: white
    }

    #our_team_container{
        background-color: #6B9AC4;
    }

    #headshot_container{
        position: absolute;
        right: -25%;
    }

    .headshot{
        border-radius: 50%;
    }

    .headshot_text{
        margin-top: -12%;
        color: white;
        font-size: 2.5vh;
        margin-left: 15%;
    }

    #headshot_container img, p{
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }

    #footer_container{
        padding-top: 1%;
        padding-left: 5%;
        width: auto;
        height: 300px;
        background-color: var(--spectrum-dark);
    }

    #footer hr{
        height: 4px;
        width: 90%;
        background-color: white;
    }

    #footer_header{
        color: var(--spectrum-orange);
        font-size: 3vh;
    }

    #footer_phone{
        color: white;
        font-size: 2vh;
    }

    #footer_email{
        color: white;
        font-size: 2vh;
    }

    #phone_icon, #email_icon{
        fill: var(--spectrum-orange) !important;
    }

    .navbar>.container-fluid{
        height: 70px;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 1px solid darkgray;
    }
    
    a.nav-link.active{
        color: var(--spectrum-orange) !important;
    }

    .parallax{
        /* The image used */
        background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg");

        /* Set a specific height */
        min-height: 600px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel-item img{
        width: 50%;
        height: 50vh;
    }

    .carousel_title{
        margin-top: -30%;
        font-size: 5vh;
    }

    .carousel-caption p{
        margin-top: 5%;
        padding-bottom: 2%;
    }
}

